@page
@model WePayServer.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "订单明细";
}

<h1>订单明细</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            订单号
        </dt>
        <dd class="col-sm-10">
            @Model.Order.OrderId
        </dd>
        <dt class="col-sm-2">
            订单金额
        </dt>
        <dd class="col-sm-10">
            @Model.Order.OrderAmount.ToString("F2")
        </dd>
        <dt class="col-sm-2">
            Code
        </dt>
        <dd class="col-sm-10">
            @Model.Order.OrderCode
        </dd>
        <dt class="col-sm-2">
            支付状态
        </dt>
        <dd class="col-sm-10">
            @if (Model.Order.IsPay)
            {
                <span style="color:green;">已支付</span>
            }
            else
            {
                <span>未支付</span>
            }
        </dd>
          <dt class="col-sm-2">
            支付时间
        </dt>
        <dd class="col-sm-10">
            @if (Model.Order.PayTime == 0)
            {
                @("-")
            }
            else
            {
            @DateTimeOffset.FromUnixTimeSeconds(Model.Order.PayTime).LocalDateTime.ToString("yyyy-MM-dd HH:mm:ss")
            }
        </dd>
        <dt class="col-sm-2">
            创建时间
        </dt>
        <dd class="col-sm-10">
            @DateTimeOffset.FromUnixTimeMilliseconds(Model.Order.CreateTime).LocalDateTime.ToString("yyyy-MM-dd HH:mm:ss")
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">返回列表</a>
</div>
